{% if site.enable_google_verification or site.enable_bing_verification %}
  <!-- Website verification -->
  {% if site.enable_google_verification %}
    <meta name="google-site-verification" content="{{ site.google_site_verification }}">
  {% endif %}
  {% if site.enable_bing_verification %}
    <meta name="msvalidate.01" content="{{ site.bing_site_verification }}">
  {% endif %}
  <!--
    Avoid warning on Google Chrome Error with Permissions-Policy header:
    Origin trial controlled feature not enabled: 'interest-cohort'.
    see https://stackoverflow.com/a/75119417
  -->
  <meta http-equiv="Permissions-Policy" content="interest-cohort=()">
{% endif %}

{% capture author_name %}{{ site.first_name }}{% if site.middle_name %} {{ site.middle_name }}{% endif %} {{ site.last_name }}{% endcapture %}

<!-- Standard metadata -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
{% if site.title == 'blank' %}
  {% capture title %}{{ author_name }}{% endcapture %}
{% else %}
  {% capture title %}{{ site.title }}{% endcapture %}
{% endif %}
{% assign organization_name_localized = site.organization_name %}
{% assign organization_url_localized = site.organization_url %}
{% assign organization_topics_localized = site.organization_topics %}
{% assign parent_organization_name_localized = site.parent_organization_name %}
{% assign parent_organization_url_localized = site.parent_organization_url %}
{% assign parent_organization_alternate_names_localized = site.parent_organization_alternate_names %}
{% if site.active_lang contains 'en' %}
  {% assign organization_name_localized = site.organization_name_en | default: organization_name_localized %}
  {% assign organization_url_localized = site.organization_url_en | default: organization_url_localized %}
  {% assign organization_topics_localized = site.organization_topics_en | default: organization_topics_localized %}
  {% assign parent_organization_name_localized = site.parent_organization_name_en | default: parent_organization_name_localized %}
  {% assign parent_organization_url_localized = site.parent_organization_url_en | default: parent_organization_url_localized %}
  {% assign parent_organization_alternate_names_localized = site.parent_organization_alternate_names_en
    | default: parent_organization_alternate_names_localized
  %}
{% endif %}
{% assign site_name_for_meta = organization_name_localized | default: title | strip_html | normalize_whitespace %}
{% assign archive_description = null %}
{% if page.title != null and page.title != '' %}
  {% assign page_title = page.title %}
{% else %}
  {% assign page_title = null %}
{% endif %}
{% if page.layout == 'archive-year' %}
  {% assign page_title = page.date | date: '%Y' %}
  {% assign archive_description = site.data[site.active_lang].strings.archive_year %}
{% elsif page.layout == 'archive-tag' %}
  {% assign page_title = page.title | default: page.name %}
  {% assign archive_description = site.data[site.active_lang].strings.archive_tag %}
{% elsif page.layout == 'archive-category' %}
  {% assign page_title = page.title | default: page.name %}
  {% assign archive_description = site.data[site.active_lang].strings.archive_category %}
{% endif %}
{% if page_title %}
  {% assign title_array = '' | split: ',' %}
  {% assign splitted_description_by_space = page_title | split: ' ' %}
  {% for outer_part in splitted_description_by_space %}
    {% if outer_part contains '.' %}
      {% capture contains_localization %}{% localization_exists {{ outer_part }} %}{% endcapture %}
      {% if contains_localization == 'true' %}
        {% assign first_part = outer_part | split: '.' | first %}
        {% assign last_part = outer_part | split: '.' | last %}
        {% capture temp_var %}{{ site.data[site.active_lang].strings[first_part][last_part] }}{% endcapture %}
        {% assign title_array = title_array | push: temp_var %}
      {% else %}
        {% capture temp_var %}{{ outer_part }}{% endcapture %}
        {% assign title_array = title_array | push: temp_var %}
      {% endif %}
    {% else %}
      {% capture temp_var %}{{ outer_part }}{% endcapture %}
      {% assign title_array = title_array | push: temp_var %}
    {% endif %}
  {% endfor %}
  {% assign page_title = title_array | join: ' ' %}
{% endif %}
{% assign raw_description = null %}
{% if page.seo_description != blank %}
  {% assign raw_description = page.seo_description %}
{% elsif page.description != blank %}
  {% assign raw_description = page.description %}
{% elsif archive_description %}
  {% assign raw_description = archive_description %}
{% elsif page.collection == 'posts' or page.collection == 'news' or page.collection == 'projects' %}
  {% assign raw_description = page.excerpt | default: page.content %}
{% elsif page.content != blank %}
  {% assign stripped_page_content = page.content | strip %}
  {% unless stripped_page_content contains '{%' or stripped_page_content contains '{{' %}
    {% assign raw_description = stripped_page_content %}
  {% endunless %}
{% endif %}
{% if raw_description == blank %}
  {% assign description = site.data[site.active_lang].strings.site_description %}
{% else %}
  {% assign description = raw_description | strip_html | normalize_whitespace | truncate: 180 %}
{% endif %}
{% assign social_image = page.og_image %}
{% if social_image == blank and page.thumbnail %}
  {% assign social_image = page.thumbnail %}
{% endif %}
{% if social_image == blank and page.img %}
  {% assign social_image = page.img %}
{% endif %}
{% if social_image == blank and page.collection == 'posts' and page.content %}
  {% if page.content contains 'include figure.liquid' %}
    {% assign first_figure_chunk = page.content | split: 'include figure.liquid' | slice: 1, 1 | first %}
    {% if first_figure_chunk contains 'path="' %}
      {% assign figure_candidate = first_figure_chunk | split: 'path="' | last | split: '"' | first %}
      {% if figure_candidate contains '.jpg'
        or figure_candidate contains '.jpeg'
        or figure_candidate contains '.png'
        or figure_candidate contains '.webp'
        or figure_candidate contains '.gif'
      %}
        {% assign social_image = figure_candidate %}
      {% endif %}
    {% endif %}
  {% endif %}
  {% if social_image == blank and page.content contains '<img' %}
    {% assign first_image_chunk = page.content | split: '<img' | slice: 1, 1 | first %}
    {% assign image_candidate = '' %}
    {% assign image_candidate_is_github_attachment = false %}
    {% if first_image_chunk contains 'src="' %}
      {% assign src_parts = first_image_chunk | split: 'src="' %}
      {% assign first_src_part = src_parts | slice: 1, 1 | first %}
      {% assign image_candidate = first_src_part | split: '"' | first %}
    {% elsif first_image_chunk contains "src='" %}
      {% assign src_parts = first_image_chunk | split: "src='" %}
      {% assign first_src_part = src_parts | slice: 1, 1 | first %}
      {% assign image_candidate = first_src_part | split: "'" | first %}
    {% endif %}
    {% if image_candidate contains 'github.com/user-attachments/assets/'
      or image_candidate contains 'user-images.githubusercontent.com/'
      or image_candidate contains 'private-user-images.githubusercontent.com/'
    %}
      {% assign image_candidate_is_github_attachment = true %}
    {% endif %}
    {% if image_candidate contains '.jpg'
      or image_candidate contains '.jpeg'
      or image_candidate contains '.png'
      or image_candidate contains '.webp'
      or image_candidate contains '.gif'
      or image_candidate_is_github_attachment
    %}
      {% assign social_image = image_candidate %}
    {% endif %}
  {% endif %}
{% endif %}
{% if social_image == blank %}
  {% assign social_image = site.og_image %}
{% endif %}
{% if social_image != blank %}
  {% assign social_image_first_char = social_image | slice: 0, 1 %}
  {% unless social_image contains '://' %}
    {% if social_image_first_char != '/' %}
      {% assign social_image = social_image | prepend: '/' %}
    {% endif %}
    {% assign social_image = social_image | prepend: site.baseurl | prepend: site.url %}
  {% endunless %}
{% endif %}
{% assign organization_image = site.organization_image | default: social_image %}
{% if organization_image != blank %}
  {% assign organization_image_first_char = organization_image | slice: 0, 1 %}
  {% unless organization_image contains '://' %}
    {% if organization_image_first_char != '/' %}
      {% assign organization_image = organization_image | prepend: '/' %}
    {% endif %}
    {% assign organization_image = organization_image | prepend: site.baseurl | prepend: site.url %}
  {% endunless %}
{% endif %}
{% assign is_blog_index = false %}
{% if page.layout == 'blog' %}
  {% assign is_blog_index = true %}
{% endif %}
{% assign page_title_for_meta = page_title %}
{% if page.seo_title != blank %}
  {% assign page_title_for_meta = page.seo_title %}
{% endif %}
{% capture meta_title %}
  {% if page.seo_title != blank %}
    {{ page.seo_title }}
  {% elsif is_blog_index %}
    {{ page_title }} | {{ title }}
  {% elsif page.layout == 'archive-year' %}
    {{ page.date | date: '%Y' }} | {{ title }}
  {% elsif page.url contains '/blog/' %}
    {{ page_title }} | {{ title }}
  {% elsif page.title != 'blank' and page.url != '/' %}
    {% if page.title == null or page.title == '' %}
      {{ page.date | date: '%Y' }} | {{ title }}
    {% else %}
      {{ page_title }} | {{ title }}
    {% endif %}
  {% else %}
    {{ title }}
  {% endif %}
{% endcapture %}
{% assign meta_title = meta_title | strip | normalize_whitespace | strip_html %}
{% assign meta_title_html = meta_title | escape_once %}
{% assign description_html = description | escape_once %}
{% assign schema_name = page.schema_name | default: page_title_for_meta | default: title | strip_html | normalize_whitespace %}

<title>{{ meta_title_html }}</title>
<meta name="author" content="{{ author_name | escape_once }}">
<meta name="description" content="{{ description_html }}">
{% if page.robots %}
  <meta name="robots" content="{{ page.robots | escape_once }}">
{% endif %}
{% if page.keywords or site.keywords %}
  <meta name="keywords" content="{% if page.keywords %}{{ page.keywords | escape_once }}{% else %}{{ site.keywords | escape_once }}{% endif %}">
{% endif %}

{% assign is_article_page = false %}
{% assign schema_type = 'WebSite' %}
{% if page.layout == 'post' %}
  {% assign is_article_page = true %}
  {% if page.collection == 'news' %}
    {% assign schema_type = 'NewsArticle' %}
  {% else %}
    {% assign schema_type = 'BlogPosting' %}
  {% endif %}
{% endif %}
{% if page.schema_type %}
  {% assign schema_type = page.schema_type %}
{% endif %}

{% if site.serve_og_meta %}
  <!-- OpenGraph -->
  <meta property="og:site_name" content="{{ site_name_for_meta | escape_once }}">
  <meta property="og:type" content="{% if is_article_page %}article{% else %}website{% endif %}">
  <meta property="og:title" content="{{ meta_title_html }}">
  {% if canonical_url %}
    <meta property="og:url" content="{{ canonical_url | escape_once }}">
  {% else %}
    <meta property="og:url" content="{{ page.url | prepend: site.baseurl | prepend: site.url | remove_first: 'index.html' | escape_once }}">
  {% endif %}
  <meta property="og:description" content="{{ description_html }}">
  {% if social_image != blank %}
    <meta property="og:image" content="{{ social_image | escape_once }}">
  {% endif %}
  {% if is_article_page and page.date %}
    <meta property="article:published_time" content="{{ page.date | date_to_xmlschema }}">
    <meta property="article:modified_time" content="{{ page.last_updated | default: page.date | date_to_xmlschema }}">
  {% endif %}
  <meta property="og:locale" content="{{ site.active_lang }}">

  <!-- Twitter card -->
  <meta name="twitter:card" content="summary">
  <meta name="twitter:title" content="{{ meta_title_html }}">
  <meta name="twitter:description" content="{{ description_html }}">
  {% if social_image != blank %}
    <meta name="twitter:image" content="{{ social_image | escape_once }}">
  {% endif %}
  {% if site.x_username %}
    <meta name="twitter:site" content="@{{ site.x_username }}">
    <meta name="twitter:creator" content="@{{ site.x_username }}">
  {% endif %}
{% endif %}

{% if site.serve_schema_org %}
  <!-- Schema.org -->
  {% comment %} Social links generator for "sameAs schema" {% endcomment %}
  {% assign sameaslinks = '' | split: ',' %}
  {% if site.orcid_id %}
    {% capture link %}https://orcid.org/{{ site.orcid_id }}{% endcapture %}
    {% assign sameaslinks = sameaslinks | push: link %}
  {% endif %}
  {% if site.scholar_userid %}
    {% capture link %}https://scholar.google.com/citations?user={{ site.scholar_userid }}{% endcapture %}
    {% assign sameaslinks = sameaslinks | push: link %}
  {% endif %}
  {% if site.semanticscholar_id %}
    {% capture link %}https://www.semanticscholar.org/author/{{ site.semanticscholar_id }}{% endcapture %}
    {% assign sameaslinks = sameaslinks | push: link %}
  {% endif %}
  {% if site.publons_id %}
    {% capture link %}https://publons.com/a/{{ site.publons_id }}/{% endcapture %}
    {% assign sameaslinks = sameaslinks | push: link %}
  {% endif %}
  {% if site.lattes_id %}
    {% capture link %}http://lattes.cnpq.br/{{ site.lattes_id }}{% endcapture %}
    {% assign sameaslinks = sameaslinks | push: link %}
  {% endif %}
  {% if site.osf_id %}
    {% capture link %}https://osf.io/{{ site.osf_id }}/{% endcapture %}
    {% assign sameaslinks = sameaslinks | push: link %}
  {% endif %}
  {% if site.research_gate_profile %}
    {% capture link %}https://www.researchgate.net/profile/{{ site.research_gate_profile }}{% endcapture %}
    {% assign sameaslinks = sameaslinks | push: link %}
  {% endif %}
  {% if site.scopus_id %}
    {% capture link %}https://www.scopus.com/authid/detail.uri?authorId={{ site.scopus_id }}{% endcapture %}
    {% assign sameaslinks = sameaslinks | push: link %}
  {% endif %}
  {% if site.github_username %}
    {% capture link %}https://github.com/{{ site.github_username }}{% endcapture %}
    {% assign sameaslinks = sameaslinks | push: link %}
  {% endif %}
  {% if site.telegram_username %}
    {% capture link %}https://telegram.me/{{ site.telegram_username }}{% endcapture %}
    {% assign sameaslinks = sameaslinks | push: link %}
  {% endif %}
  {% if site.linkedin_username %}
    {% capture link %}https://www.linkedin.com/in/{{ site.linkedin_username }}{% endcapture %}
    {% assign sameaslinks = sameaslinks | push: link %}
  {% endif %}
  {% if site.x_username %}
    {% capture link %}https://twitter.com/{{ site.x_username }}{% endcapture %}
    {% assign sameaslinks = sameaslinks | push: link %}
  {% endif %}
  {% if site.mastodon_username %}
    {% capture link %}https://{{ site.mastodon_username  }}{% endcapture %}
    {% assign sameaslinks = sameaslinks | push: link %}
  {% endif %}
  {% if site.medium_username %}
    {% capture link %}https://medium.com/@{{ site.medium_username }}{% endcapture %}
    {% assign sameaslinks = sameaslinks | push: link %}
  {% endif %}
  {% if site.quora_username %}
    {% capture link %}https://www.quora.com/profile/{{ site.quora_username }}{% endcapture %}
    {% assign sameaslinks = sameaslinks | push: link %}
  {% endif %}
  {% if site.blogger_url %}
    {% capture link %}{{ site.blogger_url }}{% endcapture %}
    {% assign sameaslinks = sameaslinks | push: link %}
  {% endif %}
  {% if site.work_url %}
    {% capture link %}{{ site.work_url }}{% endcapture %}
    {% assign sameaslinks = sameaslinks | push: link %}
  {% endif %}
  {% if site.wikidata_id %}
    {% capture link %}https://www.wikidata.org/wiki/{{ site.wikidata_id }}{% endcapture %}
    {% assign sameaslinks = sameaslinks | push: link %}
  {% endif %}
  {% if site.wikipedia_id %}
    {% capture link %}https://wikipedia.org/wiki/User:{{ site.wikipedia_id }}{% endcapture %}
    {% assign sameaslinks = sameaslinks | push: link %}
  {% endif %}
  {% if site.strava_userid %}
    {% capture link %}https://www.strava.com/athletes/{{ site.strava_userid }}{% endcapture %}
    {% assign sameaslinks = sameaslinks | push: link %}
  {% endif %}
  {% if site.keybase_username %}
    {% capture link %}https://keybase.io/{{ site.keybase_username }}{% endcapture %}
    {% assign sameaslinks = sameaslinks | push: link %}
  {% endif %}
  {% if site.gitlab_username %}
    {% capture link %}https://gitlab.com/{{ site.gitlab_username }}{% endcapture %}
    {% assign sameaslinks = sameaslinks | push: link %}
  {% endif %}
  {% if site.dblp_url %}
    {% capture link %}{{ site.dblp_url }}{% endcapture %}
    {% assign sameaslinks = sameaslinks | push: link %}
  {% endif %}
  {% if site.stackoverflow_id %}
    {% capture link %}https://stackoverflow.com/users/{{ site.stackoverflow_id }}{% endcapture %}
    {% assign sameaslinks = sameaslinks | push: link %}
  {% endif %}
  {% if site.kaggle_id %}
    {% capture link %}https://www.kaggle.com/{{ site.kaggle_id }}{% endcapture %}
    {% assign sameaslinks = sameaslinks | push: link %}
  {% endif %}
  {% if site.lastfm_id %}
    {% capture link %}https://www.last.fm/user/{{ site.lastfm_id }}{% endcapture %}
    {% assign sameaslinks = sameaslinks | push: link %}
  {% endif %}
  {% if site.spotify_id %}
    {% capture link %}https://open.spotify.com/user/{{ site.spotify_id }}{% endcapture %}
    {% assign sameaslinks = sameaslinks | push: link %}
  {% endif %}
  {% if site.pinterest_id %}
    {% capture link %}https://www.pinterest.com/{{ site.pinterest_id }}{% endcapture %}
    {% assign sameaslinks = sameaslinks | push: link %}
  {% endif %}
  {% if site.unsplash_id %}
    {% capture link %}https://unsplash.com/@{{ site.unsplash_id }}{% endcapture %}
    {% assign sameaslinks = sameaslinks | push: link %}
  {% endif %}
  {% if site.instagram_id %}
    {% capture link %}https://instagram.com/{{ site.instagram_id }}{% endcapture %}
    {% assign sameaslinks = sameaslinks | push: link %}
  {% endif %}
  {% if site.facebook_id %}
    {% capture link %}https://facebook.com/{{ site.facebook_id }}{% endcapture %}
    {% assign sameaslinks = sameaslinks | push: link %}
  {% endif %}
  {% if site.youtube_id %}
    {% capture link %}https://youtube.com/@{{ site.youtube_id }}{% endcapture %}
    {% assign sameaslinks = sameaslinks | push: link %}
  {% endif %}
  {% if site.discord_id %}
    {% capture link %}https://discord.com/users/{{ site.discord_id }}{% endcapture %}
    {% assign sameaslinks = sameaslinks | push: link %}
  {% endif %}
  {% if site.zotero_username %}
    {% capture link %}https://www.zotero.org/{{ site.zotero_username }}{% endcapture %}
    {% assign sameaslinks = sameaslinks | push: link %}
  {% endif %}
  {% assign schema_url = canonical_url %}
  {% if schema_url == blank %}
    {% assign schema_url = page.url | prepend: site.baseurl | prepend: site.url %}
  {% endif %}
  <script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "{{ schema_type }}",
      "@id": "{{ schema_url }}#page",
      "url": "{{ schema_url }}",
      "name": {{ schema_name | jsonify }},
      "headline": {{ schema_name | jsonify }},
      "description": {{ description | jsonify }},
      "inLanguage": "{{ site.active_lang }}"{% if social_image != blank %},
      "image": "{{ social_image }}"{% endif %},
      "isPartOf": {
        "@type": "WebSite",
        "@id": "{{ site.url }}#website",
        "name": "{{ site_name_for_meta }}",
        "url": "{{ site.url }}"
      }{% if organization_name_localized != blank %},
      "publisher": {
        "@id": "{{ organization_url_localized }}#organization"
      }{% endif %}{% if is_article_page %},
      "author": {
        "@type": "Person",
        "name": "{{ author_name }}"
      }{% endif %}{% if is_article_page and page.date %},
      "datePublished": "{{ page.date | date_to_xmlschema }}",
      "dateModified": "{{ page.last_updated | default: page.date | date_to_xmlschema }}"{% endif %}{% if sameaslinks.size > 0 %},
      "sameAs": {{ sameaslinks | jsonify }}{% endif %},
      "mainEntityOfPage": {
        "@type": "WebPage",
        "@id": "{{ schema_url }}"
      }
    }
  </script>
  {% if organization_name_localized != blank %}
    <script type="application/ld+json">
      {
        "@context": "https://schema.org",
        "@type": "ResearchOrganization",
        "@id": "{{ organization_url_localized }}#organization",
        "name": "{{ organization_name_localized }}"{% if site.organization_alternate_names and site.organization_alternate_names.size > 0 %},
        "alternateName": {{ site.organization_alternate_names | jsonify }}{% endif %},
        "url": "{{ organization_url_localized }}"{% if organization_image != blank %},
        "image": "{{ organization_image }}"{% endif %},
        "email": "mailto:{{ site.email }}"{% if organization_topics_localized and organization_topics_localized.size > 0 %},
        "knowsAbout": {{ organization_topics_localized | jsonify }}{% endif %}{% if site.organization_department != blank %},
        "department": {
          "@type": "Organization",
          "name": "{{ site.organization_department }}"
        }{% endif %},
        "address": {
          "@type": "PostalAddress",
          "streetAddress": "{{ site.organization_street_address }}",
          "addressLocality": "{{ site.organization_locality }}",
          "addressRegion": "{{ site.organization_region }}",
          "postalCode": "{{ site.organization_postal_code }}",
          "addressCountry": "{{ site.organization_country }}"
        },
        "parentOrganization": {
          "@type": "ResearchOrganization",
          "name": "{{ parent_organization_name_localized }}"{% if parent_organization_alternate_names_localized and parent_organization_alternate_names_localized.size > 0 %},
          "alternateName": {{ parent_organization_alternate_names_localized | jsonify }}{% endif %},
          "url": "{{ parent_organization_url_localized }}"
        }{% if sameaslinks.size > 0 %},
        "sameAs": {{ sameaslinks | jsonify }}{% endif %}
      }
    </script>
  {% endif %}
{% endif %}
