<!doctype html>
<html lang="{{ site.active_lang }}">
  <!-- Head -->
  <head>
    {% if page.redirect %}
      {% if page.redirect == true %}
        {% if site.active_lang == site.default_lang %}
          {% assign redirect = site.baseurl | append: '/' %}
        {% else %}
          {% assign redirect = site.baseurl | append: '/' | append: site.active_lang | append: '/' %}
        {% endif %}
      {% elsif page.redirect contains '://' %}
        {% assign redirect = page.redirect %}
      {% else %}
        {% assign is_asset = page.redirect | startswith: '/assets/' %}
        {% if is_asset %}
          {% assign redirect = page.redirect | prepend: site.baseurl_root %}
        {% else %}
          {% assign redirect = page.redirect | prepend: site.baseurl %}
        {% endif %}
      {% endif %}
      <meta http-equiv="refresh" content="3; url={{ redirect }}">
    {% endif %}
    {% include head.liquid %}
  </head>

  <!-- Body -->
  <body class="{% if site.navbar_fixed %}fixed-top-nav{% endif %} {% if site.show_footer == false or site.show_footer == 'false' or site.footer_fixed != true %}sticky-bottom-footer{% endif %}">
    <!-- Header -->
    {% include header.liquid %}

    <!-- Content -->
    <div class="container mt-5" role="main" data-pagefind-body>
      {% if page.toc and page.toc.sidebar %}
        {% if page.toc.sidebar == 'right' %}
          <div class="row">
            <!-- main content area -->
            <div class="col-sm-9">{{ content }}</div>
            <!-- sidebar, which will move to the top on a small screen -->
            <div class="col-sm-3">
              <nav id="toc-sidebar" class="sticky-top"></nav>
            </div>
          </div>
        {% else %}
          <div class="row">
            <!-- sidebar, which will move to the top on a small screen -->
            <div class="col-sm-3">
              <nav id="toc-sidebar" class="sticky-top"></nav>
            </div>
            <!-- main content area -->
            <div class="col-sm-9">{{ content }}</div>
          </div>
        {% endif %}
      {% else %}
        {{ content }}
      {% endif %}
    </div>

    <!-- Footer -->
    {% unless site.show_footer == false or site.show_footer == 'false' %}
      {% include footer.liquid %}
    {% endunless %}

    <!-- JavaScripts -->
    {% include scripts.liquid %}
  </body>
</html>
